* {
  padding: 0;
  margin: 0;
}
.header {
  height: 70px;
  background: linear-gradient(45deg, rgb(0, 0, 159), rgb(66, 66, 255));
  display: flex;
  justify-content: space-between;
  padding: 0 100px;
}
.balance {
  display: flex;
  align-items: center;
  gap: 15px;
}
.balance__img {
  width: 60px;
}
.balance__text {
  color: white;
  font-size: 30px;
}
.main {
  background-image: url(img/bg.png);
  height: calc(100vh - 70px);
}

.shop {
  position: absolute;
  right: 50px;
  top: 150px;
  border-radius: 5px;
  width: 400px;
  height: 700px;
  background-color: aqua;
}

.yachejki {
  display: flex;
  gap: 1px;
  flex-wrap: wrap;
}
.yachejka {
  width: 73px;
  height: 73px;
  background: rgba(255, 0, 0, 0);
  border: 1px solid #18d92b00;
}
.yachejka:hover {
  border: 1px solid #18d92b;
}

.products {
  display: flex;
  padding: 10px;
  align-items: flex-start;
  flex-wrap: wrap;
  align-content: flex-start;
  gap: 10px;
}

.product__photo {
  width: 100px;
}

.product {
  padding: 10px;
  background-color: aquamarine;
  display: flex;
  flex-direction: column;
}

.product__title {
  text-align: center;
}

.reset {
}
.reset__btn {
  padding: 10px 30px;
  margin-top: 13px;
}

.categories {
  display: flex;
  gap: 5px;
  overflow-x: scroll;
  padding: 7px 10px;
}
.category-btn:not(.active):hover {
  background-color: #faff75;
}
.category-btn {
  padding: 10px 20px;
  border-radius: 10px;
  border: none;
  background-color: azure;
}

.active {
  background: yellow;
}

.login {
  position: absolute;
  bottom: 100px;
  right: 100px;
  background: linear-gradient(45deg, yellow, pink);
  padding: 10px 25px;
  border-radius: 6px;
  gap: 10px;
  display: flex;
  flex-direction: column;
}

.close {
  display: flex;
  justify-content: space-between;
}

.close-button {
  background-color: transparent;
  border: none;
}

.close-button path:hover {
  fill: yellow;
}

/* .input-name {
    margin-top: 10px;
} */
